.header{

}

.header__wrapper{

}

.header__wrap{
  padding-bottom: 15px;
  padding-top: 10px;
  justify-content: space-between;
}

.header__logo{
  margin: 0 10px;
  img{
    width: 330px;
  }
}

.header__info{
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.header__phone{
  text-align: right;
  line-height: 20px;
  margin-right: 10px;
  div{
    font-weight: 500;
  }
  a{
    font-size: 24px;
    font-weight: 900;
    color: #000;
  }
}

.header__btn{

}

.header__btnA{
  font-weight: 600;
  background: #f6ff00;
  padding: 11px 35px;
  border-radius: 5px;
  color: #000;
  font-size: 15px;
  &:hover{

  }
}


@media screen and (max-width: 850px){
  .header__logo img {
    width: 270px;
  }
}

@media screen and (max-width: 768px){
  .header__logo img {
    width: 270px;
  }

  .header__btn{
    display: none;
  }
  .header__phone {
    margin: 0 0;
  }
}

@media screen and (max-width: 556px){
  .header__logo img {
    width: 210px;
  }
}

@media screen and (max-width: 490px){
  .header__phone div {
    font-size: 12px;
  }
  .header__phone a {
    font-size: 19px;
  }
}

@media screen and (max-width: 448px){
  .header__logo img {
    width: 175px;
  }
}

@media screen and (max-width: 375px){
  .header__logo img {
    width: 160px;
  }
  .header__info {
    margin: 0 10px;
  }
  .header__phone {
    line-height: 16px;
  }
  .header__phone a {
    font-size: 17px;
  }
  .header__phone div {
    font-size: 11px;
  }
}